<h2><%= h(landmark.name) %></h2>
<div class="buttons">
  <div class="loading"></div>
  <%= button_tag 'Edit', :class => 'edit' %>
  <%= button_tag 'Delete', :class => 'delete' %>
</div>
<div class="clear"></div>
