<table>
  <tr>
    <td><%= label_tag 'name', "Name:" %></td>
    <td><%= text_field_tag "name" %></td>
  </tr>
  <tr>
    <td><%= label_tag 'group_name', "Group Name:" %></td>
    <td><%= text_field_tag "group_name" %></td>
  </tr>
</table>
