<h2><%= h(geofence.name || 'Geofence') %></h2>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="buttons">
  <div class="loading"></div>
  <%= link_to '', '#', :class => 'editSettings button' %>
  <%= link_to '', '#', :class => 'delete button' %>
</div>
<div class="clear"></div>
