#navbar #livelook a {
  background:transparent url(/images/live_look.gif) no-repeat 24px center;
}
#navbar #livelook.selected a {
  background:transparent url(/images/live_look_selected.gif) no-repeat 24px center;
}

#settings .devices .device {
  width: 98%;
}

#settings .devices .device .view {
  width: 100%;
}

/* IE7 List Element Vertical Whitespace Fix */
#report_card #frame li {
  display:inline;
}

#vehicle_pane li {
  display:inline;
}

/* IE7 Opacity Filter Bold Text Aliasing Fix */
#frame_header span.title {
  background-color:#e0e0e0;
}
