<% new_tree(current_user.device_group_or_root, :include_parent => true, :root_ol => false, :vehicles => false) do |group, level| -%>
  <div class="row group" id="<%= dom_id(group) %>">
    <div class="listing">
      <span class="checkbox"></span>
      <span class="collapsible"></span>
      <span class="name"><%= group.name %></span>
    </div>
  </div>
<% end -%>
