<%= messages %>
<div class="groups">
  <div class="buttonsLeft">
    <%= button_to 'Add Group', new_group_path, :method => :get %>
  </div>
  <div class="clear spacer"></div>

  <%# paginate @groups %>

  <%= render :partial => "group", :collection => @groups %>

  <%# paginate @groups %>
</div>
