<%= messages %>
<div class="groups">
  <div class="buttonsLeft">
    <%= button_to 'Add Group', new_group_path, :method => :get %>
  </div>
  <div class="clear spacer"></div>

  <div id="groupsList">
    <%= render :partial => "list", :locals => {:groups => @groups} -%>
  </div>

</div>

<div id="removeGroup" class="dialog">
  <% form_tag groups_path, :method => :delete do -%>
  <% end -%>
  <p>Are you sure you want to remove this group from the system?</p>
</div>
