<div class="frame corners">
  <%= messages %>
  <div class="content">
    <h2>Forgot My Password</h2>
    <p>Fill in your account ID and username below.  We will send you an email with instructions on how to reset your password.</p>
    <br/>
    <% form_tag forgot_password_path do -%>
      <div class="field">
        <label for="account_number">Account ID</label>
        <%= text_field_tag 'account_number', params[:account_number] %>
      </div>
      <div class="field">
        <label for="login">Username</label>
        <%= text_field_tag 'login', params[:login] %>
      </div>
      <div class="field">
        <label></label>
        <%= submit_tag 'Submit' %>
      </div>
    <% end -%>
    <div class="clear"></div>
  </div>
</div>
