<%= messages %>

<div class="users">
  <div class="buttonsLeft">
    <%= button_to 'Add User', new_user_path, :method => :get %>
  </div>
  
  <div class="clear spacer"></div>
  
  <%= render :partial => 'list', :locals => {:users => @users} %>
</div>

<div class="clear"></div>

<div id="removeUser" class="dialog">
  <p>If you remove this user, they will be deleted permanently and will no longer have access to the site.</p>
  <p>If this user manages any users or vehicles, they will be "moved up" one level and managed by you.</p>
  <p>Are you sure you want to remove this user?</p>
</div>