<div class="frame corners">
  <%= messages %>
  <div class="content">
    <h2>Set Password</h2>
    <p>Enter your new password below.</p>
    <br/>
    <%= render :partial => "password_form", :locals => {:post_url => set_password_path(params[:id])} %>
  </div>
</div>
