/**
 * Styles for the /import/ set of controllers
 */

#upload {
  #uploadForm {
    margin-top: 1em;
  }

  #busy {
    display: none;
  }

  #results {
    display: none;
  }

  #preview {
    margin-top: 2em;
    table {
      margin: 1em;

      tr.error {
        background-color: red;
        td {
          background-color: red;
        }
      }
    }
  }

  #previewError {
    display: none;
    margin-top: 2em;

    .error {
      font-weight: bold;
      color: red;
    }
  }
}
