/**
 * Report Card
 */
@listing_width: 280px;

/**
 * Report Card - Page & Data Row Styles
 */
#report_card {
  min-width:900px;
  overflow-x:auto;
  overflow-y:hidden;
  
  #content {
    padding-bottom:0;
    
    .content {
      padding-bottom:0;
    }
  }
  
  div.row {
    background:#f5ecec none repeat-y 11px top;
    border-top:solid 1px #c0c0c0;
    cursor:default;
    height:25px;
    padding-right:@listing_width;
    
    span {
      display:block;
      float:left;
      height:25px;
      line-height:25px;
    }
    
    div.listing {
      float:left;
      width:@listing_width;
      
      span.tab {
        background:white;
        display:none;
        height:27px;
        margin:-1px 0;
        width:23px;
      }
      
      span.indent {
        margin:0;
        padding:0;
      }
      
      span.collapsible {
        background:transparent url(/images/report_card_open.png) no-repeat center center;
        cursor:pointer;
        width:15px;
      }
      
      span.closed {
        background:transparent url(/images/report_card_closed.png) no-repeat right center;
        width:15px;
      }
      
      span.name {
        float:left;
        padding-left:4px;
      }
      
      a.edit, a.delete, a.liveLook, a.geofence {
        float:right;
        height:25px;
        width:22px;
      }
      
      span.handle {
        background:transparent url(/images/group_move.png) no-repeat center center;
        cursor:move;
        float:right;
        width:22px;
      }
    }

    div.data {
      float:left;
      margin-right:0px - @listing_width;
      width:100%;
      text-align:right;
      
      img {
        float:left;
      }

      span {
        border-left:solid 1px #c0c0c0;
        width:10%;
      }
      
      span.after_hours {
        width:7%;
      }

      span.pass {
        background:transparent url(/images/grade/green.png) no-repeat 2% 50%;
      }

      span.warn {
        background:transparent url(/images/grade/yellow.png) no-repeat 2% 50%;
      }

      span.fail {
        background:transparent url(/images/grade/red.png) no-repeat 2% 50%;
      }

      span.pass_only {
        background:transparent url(/images/grade/green.png) no-repeat 50% 50%;
      }

      span.warn_only {
        background:transparent url(/images/grade/yellow.png) no-repeat 50% 50%;
      }

      span.fail_only {
        background:transparent url(/images/grade/red.png) no-repeat 50% 50%;
      }
    }
  }
}

/**
 * Report Card - Header
 */
#report_card_header {
  border:solid 1px #999;
  border-bottom:none;
  
  div.row {
    border-top:none;
    
    div.title {
      display:none;
      float:left;
      
      span {
        border-left:solid 1px #c0c0c0;
        font-weight:bold;
        padding-left:32px;
      }
    }
  }
}

/**
 * Report Card - Framework
 */
#frame {
  background-color:red;
  border:solid 1px #999;
  position:relative;
  
  ol {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  /**
   * Data Pane
   */
  #data_pane {
    background:#303030 url(/images/frame_bg.png) repeat 0 0;
    height:100%;
    left:0px;
    overflow-x:hidden;
    overflow-y:scroll;
    position:absolute;
    top:0px;
    width:100%;
    z-index:5;
    
    > ol {
      margin-top:-1px;
    }
    
    div.device {
      span.collapsible {
        display:none;
      }
    }
  }

  /**
   * Edit Pane
   */
  #edit_pane {
    background-color:white;
    height:100%;
    left:0px;
    overflow-x:hidden;
    overflow-y:auto;
    position:absolute;
    top:0px;
    width:100%;
    z-index:3;
    
    div.loading {
      background-position:center center;
      margin-left:280px;
      padding-top:240px;
      width:auto;
    }
    
    div.edit {
      padding:32px 32px 32px 312px;
    }
  }
  
  #tab {
    width:23px;
    height:27px;
    background-color:red;
    position:absolute;
    display:none;
    left:5px;
    top:32px;
    z-index:7;
  }
  
  /**
   * Support for hover elements
   */
  div.row .hover-only {
    display:none;
  }
  
  div.row:hover {
    background-color:#eddede;
    
    .hover-only {
      display:block;
    }
  }
  
  div.drop-hover {
    background-color:#89dca8;
  }
  
  div.ui-draggable-dragging, div.ui-draggable-dragging:hover {
    background-image:none;
    cursor:move;
    width:300px;
    
    div.data {
      display:none;
    }
    
    a.hover-only, span.hover-only {
      display:none;
    }
  }
  
  /* Nested Spacing */
  li                   span.indent { width:4px + 14px * 0; }
  li li                span.indent { width:4px + 14px * 1; }
  li li li             span.indent { width:4px + 14px * 2; }
  li li li li          span.indent { width:4px + 14px * 3; }
  li li li li li       span.indent { width:4px + 14px * 4; }
  li li li li li li    span.indent { width:4px + 14px * 5; }
  li li li li li li li span.indent { width:4px + 14px * 6; }
  
  /* Nested Indent Lines */
  li li                div.row { background-image:url(/images/report_card_tree_1.png); }
  li li li             div.row { background-image:url(/images/report_card_tree_2.png); }
  li li li li          div.row { background-image:url(/images/report_card_tree_3.png); }
  li li li li li       div.row { background-image:url(/images/report_card_tree_4.png); }
  li li li li li li    div.row { background-image:url(/images/report_card_tree_5.png); }
  li li li li li li li div.row { background-image:url(/images/report_card_tree_6.png); }
}

