/**
 * Styles for the report card page
 */
/*#report_card {

  table {
    width: 100%;

    th {
      border:solid 1px black;
      background-color: #CCC;
      font-weight:bold;
      text-align:center;
      padding:2px;
    }

    th.empty {
      border: none;
      border-left: 1px solid white;
      background-color: white;
    }

    tr {
      border-left: 1px solid #888;
      border-right: 1px solid #888;
    }

    td {
      color: black;
      border: solid 1px #888;
      text-align: right;
      line-height: 175%;

      padding-left: 1em;
      padding-right: 1.0em;
    }

    td.left {
      text-align: left;
      padding-left: 2em;

      img {
        vertical-align: middle;
      }
    }

    td.overall {
      text-align: center;
    }

    td.name {
      text-align: left;
    }

    td.box {
      text-align: center;
      padding: 0;
    }

    div.warning {
      float: right;
    }

    div.status {
      float: left;
    }

    tr.odd,
    tr.odd td {
      background-color: #CCC;
    }

    tr.active,
    tr.active td {
      background-color: #9db5ce;
    }

    tr.active a {
      background-color: white;
    }
  }

  .expand {

  }

  .busy,
  .collapse {
    display: none;
  }
}*/

@listing_width: 280px;

#report_card {
  min-width:900px;
  overflow-x:auto;
  overflow-y:hidden;
  
  #content {
    padding-bottom:0;
  }
  
  #frame {
    background-color:red;
    width:100%;
    
    #data_pane {
      background-color:#f5ecec;
      border:solid 1px #c0c0c0;
      height:100%;
      overflow-y:scroll;
      
      > ol {
        margin-top:-1px;
      }
    }
  }
  
  ol {
    list-style:none;
    margin:0;
    padding:0;
  }
  
  .scrollbar-fix {}
  
  /* Note the relationship between row's padding-right, listing's width, and
     data's margin-right. We are using the floating negative margin trick so
     that the data div can resize as the browser grows while the listing div
     stays the same size. */
  div.row {
    //background-color:#f5ecec;
    border-top:solid 1px #c0c0c0;
    cursor:default;
    height:25px;
    padding-right:@listing_width;
    
    span {
      display:block;
      float:left;
      height:25px;
      line-height:25px;
    }
    
    span.collapsible {
      background:transparent url(/images/report_card_open.png) no-repeat right center;
      cursor:pointer;
      width:15px;
    }
    
    span.closed {
      background:transparent url(/images/report_card_closed.png) no-repeat right center;
      
      width:15px;
    }
    
    span.name {
      float:none;
    }
    
    div.listing {
      float:left;
      width:@listing_width;
    }
    
    div.data {
      float:left;
      margin-right:0px - @listing_width;
      width:100%;
      
      span {
        border-left:solid 1px #c0c0c0;
        width:10%;
      }
      
      span.after_hours {
        width:7%;
      }
    }
  }
  
  div.device span.collapsible {
    background:transparent url(/images/report_card_vehicle.png) no-repeat right center;
  }
  
  #report_card_header {
    
  }
  
  /* IE7 is fucked up! Cleared rows have a 2-pixel gap! */
  
  .hover-only {
    display:none;
  }
  
  div.hover {
    background:transparent url(/images/report_card_hover.png) repeat-y 0 0;
    
    div.data {
      background-color:#eddede;
    }
    
    .hover-only {
      display:block;
    }
  }
  
  /* Nested Spacing */
  li                span.collapsible { padding-left:4px + 14px * 0; }
  li li             span.collapsible { padding-left:4px + 14px * 1; }
  li li li          span.collapsible { padding-left:4px + 14px * 2; }
  li li li li       span.collapsible { padding-left:4px + 14px * 3; }
  li li li li li    span.collapsible { padding-left:4px + 14px * 4; }
  li li li li li li span.collapsible { padding-left:4px + 14px * 5; }
  li                span.name { padding-left:24px + 14px * 0; }
  li li             span.name { padding-left:24px + 14px * 1; }
  li li li          span.name { padding-left:24px + 14px * 2; }
  li li li li       span.name { padding-left:24px + 14px * 3; }
  li li li li li    span.name { padding-left:24px + 14px * 4; }
  li li li li li li span.name { padding-left:24px + 14px * 5; }
  
  /* Nested Grouplines */
  li li             { background:transparent url(/images/report_card_tree_line.png) repeat-y 11px center; }
  li li li          { background-position: 25px center; }
  li li li li       { background-position: 39px center; }
  li li li li li    { background-position: 53px center; }
  li li li li li li { background-position: 67px center; }
}



