defaults: &defaults
  # Enable * searches
  enable_star: true
  # With above, also enable infix, minimum of 3 characters
  min_infix_len: 3

development:
  <<: *defaults
  sql_range_step: 10000000

test:
  <<: *defaults

staging:
  port: 3312
  listen: 127.0.0.1
  <<: *defaults

demo:
  port: 3312
  listen: 127.0.0.1
  <<: *defaults

production:
  port: 3312
  listen: 127.0.0.1
  <<: *defaults
