<% field_prefix ||= object.class.to_s.downcase -%>
<div class="tags">
  <ul>
    <li>
      <%= text_field_tag "#{field_prefix}[tag_names][]", '', 
        :id => "tag_#{dom_id(object)}", :class => 'tagEntry', :maxlength => 30 %>
    </li>
    <% object.tags.each do |tag| -%>
      <li>
        <%= link_to '', '#', :class => 'remove' %>
        <span><%= h(tag.name) %></span>
        <%= hidden_field_tag "#{field_prefix}[tag_names][]", tag.name %>
    <% end -%>
  </ul>
</div>
