<p> This email is to notify you that your MOBD® account <%= @account.login %> has been cancelled. You will no longer be able to log in to your account via the MOBD web portal.

<p> If you believe this cancellation has occurred in error, please contact MOBD technical support at 1-877-466-6744. </p>

<p> Thank you for being a MOBD customer! </p> 
