<p>Thank you for signing up for the MOBD system!</p>

<p>To complete the signup process, you need to activate your account. Please follow the link below
(either click, or copy and paste into your Location bar) to finish this process.</p>

<%= @url %>