<p>You have received this email in response to your "Forgot My Password" request.</p>

<p>You can click the link below to reset your password.  If you are unable to click the link, copy and paste the URL into your browser's address bar.</p>

<p><%= link_to @url, @url %></p>

<p>Thank you for using Teleweave.</p>
