<p>A new monthly invoice has been generated for your Teleweave account, <%= @account_number %>.</p>

<p>Use the link below to view invoices for your account.  If you are unable to click the link, copy and paste the URL into your browser's address bar.</p>

<p><%= link_to @url, @url %></p>

<p>Thank you for using Teleweave.</p>
