<%= h(@message) %>

<p>You can click the link below to activate your account and set your password.  If you are unable to click the link, copy and paste the URL into your browser's address bar.</p>

<p><%= link_to @url, @url %></p>

<p>Thank you for using Smart Fleet Services.</p>
