<% if node.is_a?(Device) -%>
  <div class="row clear" id="device_<%= dom_id(node) %>">
    <div class="listing">
      <span class="tab"></span>
      <span class="name"><%= node.name %></span>
    </div>
    <div class="data">
      <span class="data">Good</span>
      <span class="data">Good</span>
      <span class="data">50</span>
      <span class="data">75</span>
      <span class="data">BAD</span>
      <span class="data">OK</span>
      <span class="data">57</span>
      <span class="data">78</span>
      <span class="data">54</span>
      <span class="after_hours">70</span>
    </div>
  </div>
<% else -%>
  <div class="row clear" id="group_<%= dom_id(node) %>">
    <div class="listing">
      <span class="tab"></span>
      <span class="collapsible open"></span>
      <span class="name"><%= node.name %></span>
    </div>
    
    <% if level > 0 -%>
      <% #report = group_report(node) -%>
      
      <div class="data">
        <span class="data">Good</span>
        <span class="data">Good</span>
        <span class="data">50</span>
        <span class="data">75</span>
        <span class="data">OK</span>
        <span class="data">BAD</span>
        <span class="data">57</span>
        <span class="data">78</span>
        <span class="data">54</span>
        <span class="after_hours">70</span>
      </div>
    <% end -%>
  </div>
<% end -%>
