<% content_for :javascript do -%>
  <%= javascript_include_tag "report_card" -%>
<% end -%>

<% form_tag report_card_path, :method => :get do -%>
  Viewing Report Card for: 
  <%= select_tag :range_type, options_for_select(range_options_report_card, @range_type) %>
  <%= submit_tag "Update" -%>
<% end -%>

<div id="frame">
  <div class="row clear scrollbar-fix" id="report_card_header">
    <div class="listing">
      <span class="name">Name</span>
    </div>
    <div class="data">
      <span class="data">Start Time</span>
      <span class="data">End Time</span>
      <span class="data">Operating Time</span>
      <span class="data">Miles Driven</span>
      <span class="data">MPG (Avg)</span>
      <span class="data">Speed</span>
      <span class="data">Geofence</span>
      <span class="data">Idle</span>
      <span class="data">Aggressive</span>
      <span class="after_hours">After Hours</span>
    </div>
  </div>
  <div id="data_pane">
    <% new_tree(@root) do |node, level| -%>
      <%= render :partial => 'report_card_row', :locals => {:node => node, :level => level} %>
    <% end -%>
  </div>
</div>
