<% content_for :javascript do -%>
  <%= javascript_include_tag "report_card" -%>
<% end -%>

<div id="report_card">
  <table>
    <thead>
      <tr>
        <th rowspan="2" class="empty"></th>
        <th rowspan="2" width="30%" class="empty"></th>
        <th rowspan="2">First Start Time</th>
        <th rowspan="2">Operating Time<br/>(hh:mm)</th>
        <th rowspan="2">Miles Driven</th>
        <th colspan="5">Driver Behavior Events</th>
      </tr>
      <tr>
        <th>Speed</th>
        <th>Geofence</th>
        <th>Idle</th>
        <th>Aggressive</th>
        <th>After Hours</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "list", :locals => {:report_card => @report_card} -%>
    </tbody>
  </table>
</div>
