<% content_for :javascript do -%>
  <%= javascript_include_tag "report_card" -%>
<% end -%>

<div id="frame">
  <div id="data_pane">
    <% group_tree(@root, :include_parent => true) do |group, level| -%>
      <div class="row clear" id="group_<%= dom_id(group) %>">
        <div class="listing">
          <span class="tab"></span>
          <span class="name"><%= group.name %></span>
          <span class="collapsible closed"></span>
        </div>
        <div class="data">
          <span class="data">Good</span>
          <span class="data">12:45</span>
          <span class="data">2652</span>
          <span class="data">105</span>
          <span class="data">0</span>
          <span class="data">57</span>
          <span class="data">78</span>
          <span class="data">54</span>
        </div>
      </div>
    <% end -%>
  </div>
</div>
