<div class="content">
  <div class="info-box">
    Not sure if your phone supports the MOBD application? Use the wizard
    below to find out.
  </div>
  <div class="carrierContainer">
    <h2>Select Your Carrier</h2>
    <%= select_tag :carrier_id, '<option value="">Select...</option>' + options_from_collection_for_select(@carriers, :id, :name), :id => "select-carrier" %></p>
    <% form_tag(phone_finder_carriers_path) do -%>
    <% end -%>
  </div>
</div>