<div class="content">
  <div class="searchContainer">
    <h2>Search By Model</h2>
    <%= text_field :query, "", {:size => 10, :maxlength => 40, :id => "query"} %> <input type="button" value="Search" onClick="PhoneFinder.search()">
    
    <div id="or">or</div>
    
    <h2>Select Manufacturer</h2>
    <%= select_tag :manufacturer_id, '<option value="">Select...</option>' + options_from_collection_for_select(@manufacturers, :id, :name), :id => "select-manufacturer" %>  
    <% form_tag(phone_finder_carrier_path(@carrier)) do -%>
    <% end -%>
  </div>
</div>
<div class="back">
  <%= link_to "Back", phone_finder_carriers_path %>
</div>