<% requires_role(User::Role::DISPATCH) do -%>
  <div class="float noRight"></div>
  <div id="livelook" class="float">
    <%= link_to 'Live Look', maps_path %>
  </div>
  <div class="float noLeft"></div>
<% end -%>
