<% content_for :javascript do %>
  <%= javascript_include_tag "fusion_charts/FusionCharts.js" %>
<% end %>

<div id="fuelEconomy">
  Graph goes here
</div>

<script type="text/Javascript">
  q(document).ready(function() {
    var chart = new FusionCharts("/fusion_charts/FCF_MSColumn2DLineDY.swf", "chartId", "1000", "400");
    chart.setDataXML("<%= escape_javascript render(:partial => 'fuel_data', :locals => {:report => report}) %>");
    chart.render("fuelEconomy");
  });
</script>
