<div class="reportResult">
  <div style="float:right">
    <%= link_to 'Export to CSV', "/reports/#{@report_id}.csv" %>
  </div>
  
  <h2><%= @report.title %></h2>

  <%= render :partial => report_partial(@report), :locals => {:report => @report} %>
</div>
