<% content_for(:javascript) do -%>
  <%= javascript_include_tag 'external' %>
<% end -%>
<% inside_layout 'global' do -%>
  <div id="header">
    <div id="logo"></div>
  </div>
  <div id="navbarShort">
  </div>
  <div id="container" class="corners">
    <%= yield %>
  </div>
<% end -%>