<% inside_layout 'global' do -%>
  <%= render :partial => "common/header" %>
  
  <div id="navbar">
    <%= render :partial => 'common/filter' %>
  </div>
  
  <div id="content">
    <div class="content">
      <%= yield %>
    </div>
  </div>
<% end -%>
