<div class="subscription">

  <div class="buttons">
    <%= link_to "", edit_subscription_path, :class => "button editSettings" %>
  </div>

  <h2>Subscription Information</h2>

  <div id="warning">
    <p>This subscription still needs to be set up. Please click "Edit Settings" to the right to do this.</p>
  </div>
</div>

<div class="spacer break"></div>
