<%= messages %>

<h2>Accounts</h2>
<div class="accounts">
  <div class="buttonsLeft">
    <%= button_to 'Add Account', new_account_path, :method => :get %>
  </div>
  
  <div class="clear spacer"></div>
  
  <%= render :partial => 'list', :locals => {:account => @account, :accounts => @accounts} %>
</div>
